<h1>New User</h1>

<form action="<%= users_url %>" method="POST">

<label>Username: 
    <input type="text" name="user[user_name]">
</label>

<br>

<label>Password: 
    <input type="password" name="user[password]">
</label>

<br>

<input type="submit">

</form>